@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


form.recipe-form {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 5px;
    border-radius: 20px;
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.356),
        rgba(255, 255, 255, 0.767)
    );
    color: black;
    font-family: 'Playfair Display', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

form.login-form{
    text-align: center;
    max-width: 15em;
    margin:10px auto;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid black;
    border-radius: 20px;
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.356),
        rgba(255, 255, 255, 0.767)
    );
    font-weight: 700;
    color:black;
    font-family: 'Playfair Display', sans-serif;
}
p.register-question, p.login-question{
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.356),
        rgba(255, 255, 255, 0.767)
    );
    margin-left: 20%;
    margin-right: 20%;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 20px;
    font-weight: 700;

}
#ingredients-size, #recipe-size{
    height:5em;
}

input#title, textarea{
    width:99%;
    
}

div.register{
    text-align: center;

}
 

  @media only screen and (min-width: 768px) {
    form.recipe-form { 
        padding-right: 20px;
        padding-left: 20px;
        
       }
       form.login-form { 
        margin: 20px auto;
        max-width: 20em;
        padding-right: 20px;
        padding-left: 20px;
       }
       #ingredients-size, #recipe-size{
        height:10em;
    }
    p.register-question, p.login-question{
        margin-left: 25%;
        margin-right: 25%;  
    }

} 

@media only screen and (min-width: 1024px) {
    form.recipe-form { 
        padding-right: 50px;
        padding-left: 50px;
       }
       form.login-form { 
        margin: 30px auto !important;
        max-width: 25em;
        padding-right: 50px;
        padding-left: 50px;
       }
       #ingredients-size, #recipe-size{
        height:20em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1440px) {
       form.login-form { 
        margin: 0 auto;
        padding-right: 0px;
        padding-left: 0px;
       }
       p.register-question, p.login-question{
        margin-left: 35%;
        margin-right: 35%;  
    }
}