@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


form.recipe-form {
    margin-right: 1px;
    margin-left: 1px;
    padding-right: 5px;
    padding-left: 5px;
    border: 3px solid black;
    border-radius: 20px;
    background: #AD210B;

    /* max-width: 50em; */
    font-family: 'Playfair Display', sans-serif;
  }

form.login-form{
    text-align: center;
    margin-right: 1px;
    margin-left: 1px;
    padding-right: 5px;
    padding-left: 5px;
    border: 3px solid black;
    border-radius: 20px;
    background: #AD210B;
    font-weight: bold;

    /* max-width: 50em; */
    font-family: 'Playfair Display', sans-serif;
}


div.register{
    text-align: center;

}
 

  @media only screen and (min-width: 768px) {
    form.recipe-form { 
        margin-right: 50px;
        margin-left: 50px;
        padding-right: 20px;
        padding-left: 20px;
        float: right;

       }
       form.login-form { 
        margin-right: 200px;
        margin-left: 200px;
        padding-right: 20px;
        padding-left: 20px;
       }

} 

@media only screen and (min-width: 1024px) {
    form.recipe-form { 
        margin-right: 100px;
        margin-left: 20px;
        padding-right: 50px;
        padding-left: 50px;
       }
       form.login-form { 
        margin-right: 250px;
        margin-left: 250px;
        padding-right: 50px;
        padding-left: 50px;
       }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1440px) {
    form.recipe-form { 
        margin-right: 200px;
        margin-left: 20px;
        padding-right: 50px;
        padding-left: 50px;
       }
}