@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


header {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
    font-family: 'Playfair Display', sans-serif;
}

header div  {
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

header h1 {
    width: 100%
}



@media only screen and (min-width: 768px) {
    header {
        display: flex;
    }
    
    header div  {
        width: 33.33%
    }
    
    header h1 {
        width: 33.33%
    }
} 

 @media only screen and (min-width: 992px) {
  
}
 
