div.recipe-list{
    margin: 10px;
    text-align: center;
    border: 3px solid #0B2905;
    border-radius: 20px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.767),
        rgba(255, 255, 255, 0.767)
    );
}

ul{
    margin:0px;
    padding: 0px;
}

@media only screen and (min-width: 768px) {
    div.recipe-list{
        margin-left: 30px;
        width: 40%;
    
    }
} 

 @media only screen and (min-width: 1023px) {
    div.recipe-list{
        margin-left: 75px;
    } 
}

@media only screen and (min-width: 1440px) {
    div.recipe-list{
        margin-left: 100px;
    } 
}
